@using IanByrne.ResearchProject.Shared.Models

<div class="modal fade" id="participantInformation" tabindex="-1" role="dialog" aria-labelledby="participantLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="participantLabel">Participant Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    This game is part of a research study. Before you decide whether you would like to take part it is important that you
                    understand why the research is being done and what it would involve for you. Please take time to read the following
                    information carefully. [PLEASE NOTE THAT DURING THIS PLAY TEST PHASE, NONE OF THE DATA RECORDED DURING THIS SESSION
                    WILL BE USED IN THE FINAL STUDY]
                </p>

                <h4>What is the purpose of the study?</h4>
                <p>
                    This is a study to measure player immersion in games. Data will be collected from participants over several weeks
                    before being collated, analysed, and published as part of a post graduate dissertation assignment due in Dec 2020.
                </p>

                <h4>Why have I been invited to take part?</h4>
                <p>This is an open study, available to anyone over the age of 18 who is willing to participate.</p>

                <h4>Do I have to take part?</h4>
                <p>
                    Participation in the study is voluntary. If you do decide to take part, you can discontinue participation at any
                    time during the study without needing to give a reason. All data recorded as part of the study is anonymous and you
                    will not be asked to provide any personally identifiable information. Due to the anonymity of the data, it will not
                    be possible to withdraw any data that has already been submitted (such as chat transcripts or survey answers). To
                    discontinue participation, simply close this web browser. You can revisit this web page at a later time to continue
                    participation in the study if you so choose.
                </p>

                <h4>What will happen if I take part?</h4>
                <p>
                    You will be asked to play a game that involves exploring a small virtual world and interacting with several
                    non-player characters who inhabit it. The game will take five to ten minutes to complete. Once completed, you will
                    be asked to answer a series of survey questions relating to your experiences while playing the game. The survey will
                    take about five minutes to complete.
                </p>

                <p>
                    Your answers to the survey, as well as the transcripts of your interactions with the characters, are recorded and
                    will be analysed as part of the study.
                </p>

                <h4>What will happen to the data and results?</h4>
                <p>
                    This study is being conducted as part of a post graduate dissertation assignment. The anonymous data collected
                    during this study will be made open access and could be reused in future studies which have been given ethics
                    approval. Direct quotes from the chat transcripts could be used in the dissertation or future studies. Any
                    personally identifiable information unintentionally recorded (such as through chat transcripts) will be manually
                    anonymised or redacted by the research team.
                </p>

                <h4>Who has reviewed the study?</h4>
                <p>This study has been approved by the City, University of London Research Ethics Committee.</p>

                <h4>What if there is a problem?</h4>
                <p>
                    If you have any problems, concerns or questions about this study, you can contact the research team via email
                    (ian.byrne@city.ac.uk). If you remain unhappy and wish to complain formally, you can do this through City's
                    complaints procedure. To complain about the study, you need to phone 020 7040 3040. You can then ask to speak to the
                    Secretary to Senate Research Ethics Committee.
                </p>

                <p>
                    You can also write to the secretary at:

                    <br>Anna Ramberg
                    <br>Research Integrity Manager
                    <br>City, University of London, Northampton Square
                    <br>London, EC1V 0HB
                    <br>Email: Anna.Ramberg.1@city.ac.uk
                </p>

                <h4>Further information and contact details</h4>
                <p>
                    Researcher: Ian Byrne (ian.byrne@city.ac.uk)
                    <br>Supervisor: Dr Alena Denisova (alena.denisova@city.ac.uk)
                </p>

                <p>
                    Thank you for taking the time to read this information sheet. You can view it again at any time via the link at the
                    bottom of the web page.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>