@page
@model IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Research Project</h1>
    <iframe id="game" name="game" src="~/export/index.html" style="width: 1024px; height: 600px"></iframe>
    <span class="AntiForge"> @Html.AntiForgeryToken() </span>
</div>

<button type="button" class="btn btn-primary" data-toggle="ajax-modal">
    Add contact
</button>