@page
@model IndexModel
@{
}

<div class="text-center" style="max-width:1024px">
    <h1 class="display-4">Post Mortem</h1>
    <iframe id="game" name="game" src="~/export/index.html" style="width: 100%; height: 600px"></iframe>
    <span class="AntiForge"> @Html.AntiForgeryToken() </span>
</div>
<div class="text-center">
    <p>
        <a href="#" onclick="ShowParticipantInformationModal()">Participant Information</a>
    </p>
</div>

<div id="modal-container"></div>