@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Research Project</h1>
    <iframe id="game" name="game" src="~/export/index.html" style="width: 1024px; height: 600px"></iframe>
    <span class="AntiForge"> @Html.AntiForgeryToken() </span>
</div>
<script>
    function SendMessageToChatScript(message) {
        var response = {
            Message: "Failed to complete Ajax"
        };

        $.ajax({
            type: "POST",
            url: '/Index?handler=SendMessageToChatScript',
            async: false,
            data: message,
            accept: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (ajaxResponse) {
                response = ajaxResponse;
            },
            error: function (ajaxResponse) {
                console.log("Error");
                console.log(ajaxResponse);
                response = ajaxResponse;
            }
        });

        return response;
    }

    function EnsureUserCreated(user) {
        $.ajax({
            type: "POST",
            url: '/Index?handler=EnsureUserCreated',
            async: false,
            data: user,
            accept: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (ajaxResponse) {
                //
            },
            error: function (ajaxResponse) {
                console.log("Error");
                console.log(ajaxResponse);
            }
        });

        SetCookieId(user.CookieId);

        return true;
    }

    function DeleteCookie() {
        Cookies.remove("id");

        return true;
    }

    function GetUserFromCookieId() {
        var id = Cookies.get("id");

        if (id == undefined) {
            return null;
        }

        var response = null;

        $.ajax({
            type: "POST",
            url: '/Index?handler=GetUserFromCookieId',
            async: false,
            data: {
                id: id
            },
            accept: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (ajaxResponse) {
                response = ajaxResponse;
            },
            error: function (ajaxResponse) {
                DeleteCookie();
            }
        });

        return response;
    }

    function SetCookieId(id) {
        Cookies.set("id", id, { sameSite: 'strict' });

        return true;
    }

    function SaveUser(user) {
        $.ajax({
            type: "POST",
            url: '/Index?handler=SaveUser',
            async: false,
            data: user,
            accept: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (ajaxResponse) {
                //
            },
            error: function (ajaxResponse) {
                console.log("Error");
                console.log(ajaxResponse);
            }
        });

        return true;
    }
</script>